*.pyc
*.pyo
*.log
*.bak
*.js.bak
*.css.bak
*.pid
.*.swp
*_local.py
*~
pre-commit
*.v-*.*
.DS_Store
.idea/
aa.iml
*-ide-plugin.xml
.ropeproject
.project
.pydevproject
.settings/

pep8_report.txt
pep8_report.txt-e
pylint_report.txt
.coverage
coverage.xml
nosetests.xml
id_rsa
*.iml
.idea
*.xml
*.mo
.pact/
.pytest_cache
